version: "3.9"

services:
  web:
    build: .
    container_name: pylucy-web-dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_DEBUG=True
      - DJANGO_ENV=development
      - DB_ENGINE=django.db.backends.postgresql
      - DB_NAME=pylucy
      - DB_USER=pylucy
      - DB_PASSWORD=pylucy
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db
    networks:
      - pylucy-net

  db:
    image: postgres:16
    container_name: pylucy-db-dev
    restart: always
    environment:
      - POSTGRES_DB=pylucy
      - POSTGRES_USER=pylucy
      - POSTGRES_PASSWORD=pylucy
    ports:
      - "5432:5432"
    volumes:
      - pylucy-db-dev:/var/lib/postgresql/data
    networks:
      - pylucy-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pylucy-pgadmin-dev
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@local.test
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    networks:
      - pylucy-net

networks:
  pylucy-net:

volumes:
  pylucy-db-dev:
